*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(149, 245, 242);
}
.blue{
    color: rgb(24, 1, 203);
}
.red{
    color: red;
}
.yellow{
    color: rgb(255, 145, 0);
}
h2{
    margin: 10px;
    text-align: center;
}
ul{
    list-style-type: disc;
    list-style-position: inside;
}
li{
    text-indent: 30px; 
    margin: 10px 20px;
}
.command{
    font-weight: bold;
}