.margin-1 {
  margin-left: 1px;
}

.e-resize {
  cursor: e-resize;
}

.big-border {
  box-shadow: 3px 3px 5px #afaaaa, -3px -3px 5px white;
  border: 1px solid rgb(219, 212, 212);
}

*, html, body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.section_1 {
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 1px;
  margin-bottom: 30px;
}
.section_1 .section_1-header {
  display: flex;
  align-items: center;
  background: #e7e7f1;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  border-top: 1px solid rgb(219, 212, 212);
  border-left: 1px solid rgb(219, 212, 212);
  border-right: 1px solid rgb(219, 212, 212);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.section_1 .section_1-header .section_1-header--left {
  display: flex;
  align-items: center;
}
.section_1 .section_1-header .section_1-header--left .section_1-btn-arrow {
  display: flex;
}
.section_1 .section_1-header .section_1-header--left .section_1-btn-arrow .btn-arrow {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 7px;
  margin: 0 10px 0 0px;
  border: none;
  box-shadow: 3px 3px 5px #afaaaa, -3px -3px 5px white;
  cursor: pointer;
}
.section_1 .section_1-header .section_1-header--left .section_1-btn-arrow .btn-arrow .btn-arrow-inner {
  background-color: transparent;
  height: 8px;
  width: 8px;
}
.section_1 .section_1-header .section_1-header--left .section_1-btn-arrow .btn-arrow .btn-arrow-down {
  border-bottom: 3px solid #595B60;
  border-right: 3px solid #595B60;
  transform: translateY(-25%) rotate(45deg);
}
.section_1 .section_1-header .section_1-header--left .section_1-btn-arrow .btn-arrow .btn-arrow-up {
  border-left: 3px solid #595B60;
  border-top: 3px solid #595B60;
  transform: translateY(25%) rotate(45deg);
}
.section_1 .section_1-header .section_1-header--left .section_1-btn-arrow .btn-arrow:hover {
  background-color: #e8e5e5;
}
.section_1 .section_1-header .section_1-header--left .section_1-btn-arrow .btn-arrow:active {
  box-shadow: -3px -3px 5px #afaaaa, 3px 3px 5px white;
}
.section_1 .section_1-header .section_1-header--left .section_1-search {
  width: 210px;
  height: 20px;
  border: none;
  padding: 16px 15px;
  margin: 0 0 0 20px;
}
.section_1 .section_1-header .section_1-header--left .section_1-calendar {
  background-image: url(../img/icons8-calendar-32.png);
  width: 32px;
  height: 32px;
  margin: 0px 20px 0px 30px;
  box-shadow: 3px 3px 5px #afaaaa, -3px -3px 5px white;
}
.section_1 .section_1-header .section_1-header--left .section_1-calendar:hover {
  background-color: #e8e5e5;
}
.section_1 .section_1-header .section_1-header--left .section_1-calendar:active {
  box-shadow: -3px -3px 5px #afaaaa, 3px 3px 5px white;
}
.section_1 .section_1-header .section_1-header--left .section_1-data {
  display: flex;
}
.section_1 .section_1-header .section_1-header--left .section_1-data li {
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  font-size: 18px;
  color: #2e2e2e;
}
.section_1 .section_1-header .section_1-header--left .section_1-data li span {
  display: none;
}
.section_1 .section_1-header .section_1-header--left .section_1-data li img {
  display: none;
}
.section_1 .section_1-header .section_1-header--left .section_1-data .li-active {
  border: 1px solid rgb(219, 212, 212);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  background: white;
  width: 90px;
  display: flex;
}
.section_1 .section_1-header .section_1-header--left .section_1-data .li-active span {
  display: flex;
  margin-right: 7px;
}
.section_1 .section_1-header .section_1-header--left .section_1-data .li-active img {
  display: flex;
  width: 14px;
  height: 14px;
  margin: 4px 0 0 5px;
}
.section_1 .section_1-header .section_1-header--left .section_1-data .red-number {
  color: red;
}
.section_1 .section_1-header .section_1-header--right {
  display: flex;
  align-items: center;
}
.section_1 .section_1-header .section_1-header--right .section_1-dropdown {
  position: relative;
  display: inline-block;
}
.section_1 .section_1-header .section_1-header--right .section_1-dropdown .dropbtn {
  background-color: transparent;
  color: #2e2e2e;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.section_1 .section_1-header .section_1-header--right .section_1-dropdown .dropbtn::before {
  width: 23px;
  height: 23px;
  content: "";
  background: url(../img/icons8-settings-24.png);
  display: inline-block;
  background-size: 100%;
  vertical-align: middle;
  margin: 0 5px 2px 0;
}
.section_1 .section_1-header .section_1-header--right .section_1-dropdown:hover {
  position: relative;
  display: inline-block;
}
.section_1 .section_1-header .section_1-header--right .section_1-dropdown:hover .dropbtn {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.section_1 .section_1-header .section_1-header--right .section_1-dropdown:hover .dropbtn::before {
  width: 23px;
  height: 23px;
  content: "";
  background: url(../img/icons8-settings-white.png);
  display: inline-block;
  background-size: 100%;
  vertical-align: middle;
  margin: 0 5px 2px 0;
}
.section_1 .section_1-header .section_1-header--right .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 165px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.section_1 .section_1-header .section_1-header--right .dropdown-content a {
  color: black;
  padding: 12px 11px;
  text-decoration: none;
  display: block;
}
.section_1 .section_1-header .section_1-header--right .timezone::before {
  width: 20px;
  height: 20px;
  content: "";
  background: url(../img/icons8-timezone-globe-50.png);
  display: inline-block;
  background-size: 100%;
  vertical-align: middle;
  margin: 0 7px 4px 0;
}
.section_1 .section_1-header .section_1-header--right .weekends::before {
  width: 20px;
  height: 20px;
  content: "";
  background: url(../img/icons8-mark-weekends-50.png);
  display: inline-block;
  background-size: 100%;
  vertical-align: middle;
  margin: 0 7px 4px 0;
}
.section_1 .section_1-header .section_1-header--right .calendars::before {
  width: 20px;
  height: 20px;
  content: "";
  background: url(../img/befor-calendar-i-50.png);
  display: inline-block;
  background-size: 100%;
  vertical-align: middle;
  margin: 0 7px 4px 0;
}
.section_1 .section_1-header .section_1-header--right .dropdown-content a:hover {
  background-color: #ddd;
}
.section_1 .section_1-header .section_1-header--right .section_1-dropdown:hover .dropdown-content {
  display: block;
}
.section_1 .section_1-header .section_1-header--right .section_1-dropdown:hover .dropbtn {
  background-color: #1877f2;
}
.section_1 .section_1-header .section_1-link {
  padding: 3px 0 3px 15px;
  border-left: 1px solid gray;
}
.section_1 .section_1-header .section_1-link a {
  text-transform: uppercase;
  border-bottom: 1px dotted;
  color: #00e;
  font-size: 12px;
  font-weight: bold;
}

.section_1-body {
  padding: 20px 10px;
  position: relative;
  border-bottom: 1px solid rgb(219, 212, 212);
  border-left: 1px solid rgb(219, 212, 212);
  border-right: 1px solid rgb(219, 212, 212);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.section_1-body .moving-border-pink-left {
  position: absolute;
  top: 19px;
  right: 314px;
  border-left: 2px solid rgb(232, 21, 112);
  width: 1px;
  height: 236px;
}
.section_1-body .moving-border-pink-left .moving-border-dotted-left {
  width: 1px;
  height: 36px;
  border-left: 2px dotted #fff;
  margin-left: -2px;
  margin-top: 66px;
}
.section_1-body .moving-border-pink-left:hover {
  border-left: 2px solid rgb(199, 228, 7);
}
.section_1-body .moving-border-pink-right {
  position: absolute;
  top: 19px;
  right: 300px;
  border-right: 2px solid rgb(232, 21, 112);
  width: 1px;
  height: 236px;
}
.section_1-body .moving-border-pink-right .moving-border-dotted-right {
  width: 1px;
  height: 36px;
  border-right: 2px dotted #fff;
  margin-left: 0px;
  margin-top: 66px;
}
.section_1-body .moving-border-pink-right:hover {
  border-right: 2px solid rgb(199, 228, 7);
}
.section_1-body .moving-border-pink {
  position: absolute;
  top: 17px;
  right: 300px;
  width: 16px;
  height: 240px;
  border-top: 2px solid rgb(232, 21, 112);
  border-bottom: 2px solid rgb(232, 21, 112);
  border-radius: 5px;
}
.section_1-body .moving-border-left {
  position: absolute;
  top: 19px;
  right: 62px;
  border-left: 2px solid black;
  width: 1px;
  height: 236px;
}
.section_1-body .moving-border-left .moving-border-dotted-left {
  width: 1px;
  height: 36px;
  border-left: 2px dotted #fff;
  margin-left: -2px;
  margin-top: 66px;
}
.section_1-body .moving-border-right {
  position: absolute;
  top: 19px;
  right: 88px;
  border-right: 2px solid black;
  width: 1px;
  height: 236px;
}
.section_1-body .moving-border-right .moving-border-dotted-right {
  width: 1px;
  height: 36px;
  border-right: 2px dotted #fff;
  margin-left: 0px;
  margin-top: 66px;
}
.section_1-body .moving-border {
  position: absolute;
  top: 17px;
  right: 62px;
  width: 28px;
  height: 240px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 5px;
}
.section_1-body .moving-border .moving-border-center {
  width: 1px;
  height: 236px;
  border-left: 1px dotted rgb(163, 161, 161);
  margin-top: 0px;
  margin-left: 13px;
}
.section_1-body .moving-border-green {
  position: absolute;
  top: 18px;
  right: 175px;
  width: 16px;
  height: 238px;
  border: 2px solid green;
  border-radius: 5px;
}
.section_1-body .moving-border-green .moving-border-dotted {
  width: 16px;
  height: 36px;
  border-left: 2px dotted #ddd;
  border-right: 2px dotted #ddd;
  margin-left: -2px;
  margin-top: 66px;
}
.section_1-body .moving-border-green:hover {
  border-left: 2px solid rgb(49, 210, 49);
}
.section_1-body .moving-border-green:hover {
  border-right: 2px solid rgb(49, 210, 49);
}
.section_1-body .section_1-body-container {
  display: flex;
  padding-bottom: 30px;
  position: relative;
}
.section_1-body .section_1-body-container .cross-btn {
  position: absolute;
  left: -42px;
  top: -7px;
  font-size: 19px;
  font-weight: bold;
  color: #888;
  padding: 0px 5px;
}
.section_1-body .section_1-body-container .cross-btn:hover {
  color: rgb(128, 4, 4);
  border-radius: 7px;
  background-color: #e7e7f1;
}
.section_1-body .section_1-body-container .home-btn {
  width: 21.5px;
  height: 21.5px;
  background-image: url(../img/small-gray-hose.png);
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: -42px;
  top: 13px;
}
.section_1-body .section_1-body-container .home-btn:hover {
  border-radius: 7px;
  background-color: #e7e7f1;
  background-image: url(../img/icons8-home-24.png);
}
.section_1-body .section_1-body-container .home-img {
  cursor: pointer;
  margin: 0 10px 0 0;
  width: 24px;
  height: 24px;
}
.section_1-body .section_1-body-container .data-instead-home {
  color: #888;
  font-weight: bold;
}
.section_1-body .section_1-body-container .location {
  width: 120px;
}
.section_1-body .section_1-body-container .location b {
  cursor: move;
}
.section_1-body .section_1-body-container .location .city small {
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 3px;
  color: #888;
  padding: 1px 2px;
  vertical-align: top;
  text-shadow: 0 1px 0 #fff;
  background: #f2f2f2;
  border: 1px solid #eaeaea;
  cursor: default;
}
.section_1-body .section_1-body-container .location .country {
  cursor: move;
}
.section_1-body .section_1-body-container .location .country span {
  font-size: 12px;
  color: #888;
}
.section_1-body .section_1-body-container .data {
  cursor: move;
  width: 154px;
}
.section_1-body .section_1-body-container .data .time {
  display: flex;
  justify-content: flex-end;
}
.section_1-body .section_1-body-container .data .time span {
  font-weight: bold;
  font-size: 16px;
}
.section_1-body .section_1-body-container .data .time .gray-colon {
  display: none;
  color: #ccc;
}
.section_1-body .section_1-body-container .data .data-text {
  display: flex;
  justify-content: flex-end;
}
.section_1-body .section_1-body-container .data .data-text span {
  font-size: 12px;
  color: #888;
}
.section_1-body .section_1-body-container .data-2 {
  display: flex;
  cursor: move;
  width: 154px;
}
.section_1-body .section_1-body-container .data-2 .time-interval span {
  font-weight: bold;
  font-size: 16px;
}
.section_1-body .section_1-body-container .data-2 .time-interval .gray-colon {
  display: none;
  color: #ccc;
}
.section_1-body .section_1-body-container .data-2 .data-text {
  display: flex;
  justify-content: flex-end;
}
.section_1-body .section_1-body-container .data-2 .data-text span {
  font-size: 12px;
  color: #888;
}
.section_1-body .section_1-body-container .data-2 .data-2-inner-left .time-interval {
  display: flex;
  justify-content: flex-end;
}
.section_1-body .section_1-body-container .data-2 .data-2-inner-right .time-interval {
  display: flex;
  justify-content: flex-start;
}
.section_1-body .section_1-body-container .data-2 .dash {
  padding: 0 5px;
}
.section_1-body .section_1-body-container .hourline .hours-24 {
  display: flex;
  margin: 0 0 0 30px;
}
.section_1-body .section_1-body-container .hourline .hours-24 .tod_c {
  width: 28px;
  height: 36px;
  background: #8ba3c9;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  position: relative;
}
.section_1-body .section_1-body-container .hourline .hours-24 .tod_c span {
  text-transform: uppercase;
  font-size: 11px;
  color: #888;
  margin: 0 0 0 2px;
  position: absolute;
  top: -14px;
}
.section_1-body .section_1-body-container .hourline .hours-24 .tod_c b {
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  margin: 0 0 0 4px;
}
.section_1-body .section_1-body-container .hourline .hours-24 .tod_c i {
  font-size: 13px;
  color: white;
  margin: 0 0 0 -17px;
  position: absolute;
  top: 19px;
}
.section_1-body .section_1-body-container .hourline .hours-24 .tod_n {
  width: 28px;
  height: 36px;
  background: #95b3d7;
  border-top: 1px solid #8ba3c9;
  border-bottom: 1px solid #8ba3c9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_1-body .section_1-body-container .hourline .hours-24 .tod_n b {
  font-size: 18px;
  color: white;
  font-weight: normal;
}
.section_1-body .section_1-body-container .hourline .hours-24 .tod_m {
  width: 28px;
  height: 36px;
  background: #edfbff;
  border-top: 1px solid #8ba3c9;
  border-bottom: 1px solid #8ba3c9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_1-body .section_1-body-container .hourline .hours-24 .tod_m b {
  font-size: 18px;
  color: #8ba3c9;
  font-weight: normal;
}
.section_1-body .section_1-body-container .hourline .hours-24 .tod_d {
  width: 28px;
  height: 36px;
  background: #fffff3;
  border-top: 1px solid #8ba3c9;
  border-bottom: 1px solid #8ba3c9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_1-body .section_1-body-container .hourline .hours-24 .tod_d b {
  font-size: 18px;
  color: #8ba3c9;
  font-weight: normal;
}
.section_1-body .section_1-body-container .hourline .hours-24 .tod_boundary {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 36px;
}
.section_1-body .section_1-body-container .arrow-hourline {
  display: flex;
}
.section_1-body .section_1-body-container .arrow-hourline .button {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px 7px;
  margin-left: 2px;
  border: none;
  cursor: pointer;
  background: transparent;
}
.section_1-body .section_1-body-container .arrow-hourline .button:hover {
  background-color: #e7e7f1;
  border-radius: 7px;
}
.section_1-body .section_1-body-container .arrow-hourline .button__arrow {
  background-color: transparent;
  height: 9px;
  width: 9px;
  border-right: 3px solid #888;
  border-top: 3px solid #888;
  transform: translateX(-25%) rotate(45deg);
}
.section_1-body .section_1-body-container .none {
  display: none;
}

.section_1 .upper-btn {
  display: flex;
  flex-wrap: wrap;
}
.section_1 .upper-btn .first {
  margin: 0 0 0 30px;
}
.section_1 .upper-btn .loc-tab {
  margin-bottom: 2px;
}
.section_1 .upper-btn .loc-tab .loc-tab-open {
  margin: 0 0 0 5px;
}
.section_1 .upper-btn .loc-tab .loc-tab-open input {
  width: 110px;
  padding: 4px 3px 3px 27px;
  box-shadow: none;
  background: #e8e5e5;
  border-top: 2px solid rgb(219, 212, 212);
  border-left: 2px solid rgb(219, 212, 212);
  border-right: 2px solid rgb(219, 212, 212);
  border-bottom: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.section_1 .upper-btn .loc-tab .loc-tab-open input::placeholder {
  color: #888;
}
.section_1 .upper-btn .loc-tab .loc-tab-open:hover input {
  background: rgb(242, 241, 241);
}
.section_1 .upper-btn .loc-new-tab {
  margin-bottom: 2px;
}
.section_1 .upper-btn .loc-new-tab .loc-tab-open {
  margin: 0 0 0 7px;
}
.section_1 .upper-btn .loc-new-tab .loc-tab-open input {
  width: 120px;
  padding: 4px 3px 3px 27px;
  box-shadow: none;
  background: #e8e5e5;
  border-top: 2px solid rgb(219, 212, 212);
  border-left: 2px solid rgb(219, 212, 212);
  border-right: 2px solid rgb(219, 212, 212);
  border-bottom: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.section_1 .upper-btn .loc-new-tab .loc-tab-open input::placeholder {
  color: #888;
}
.section_1 .upper-btn .loc-new-tab .loc-tab-open:hover input {
  box-shadow: none;
  background: #e8e5e5;
  background: rgb(242, 241, 241);
}
.section_1 .upper-btn .loc-tab-active {
  margin-bottom: 2px;
}
.section_1 .upper-btn .loc-tab-active .loc-tab-open {
  margin: 0 0 0 7px;
}
.section_1 .upper-btn .loc-tab-active .loc-tab-open input {
  width: 120px;
  padding: 4px 3px 3px 27px;
  border-top: 2px solid rgb(219, 212, 212);
  border-left: 2px solid rgb(219, 212, 212);
  border-right: 2px solid rgb(219, 212, 212);
  border-bottom: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: none;
  background: white;
}
.section_1 .upper-btn .loc-tab-active .loc-tab-open input::placeholder {
  color: black;
}
.section_1 .upper-btn .loc-tab-cross {
  margin: 0 0 0 -28px;
  color: #888;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
}
.section_1 .upper-btn .loc-tab-cross:hover {
  color: rgb(128, 4, 4);
}
.section_1 .upper-btn .add-new-tab .plus {
  font-size: 22px;
  font-weight: bold;
  color: #c1c1c9;
  padding: 0 7px;
  margin-left: 10px;
  cursor: pointer;
}
.section_1 .upper-btn .add-new-tab .plus:hover {
  color: #95b3d7;
}

.section_1 .section_1-header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e7e7f1;
  padding: 10px;
  border-top: 1px solid rgb(219, 212, 212);
  border-left: 1px solid rgb(219, 212, 212);
  border-right: 1px solid rgb(219, 212, 212);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  width: 1058px;
  height: 50px;
}
.section_1 .section_1-header-2 .time-interval {
  display: flex;
  align-items: center;
  margin: 0 30px 0 158px;
}
.section_1 .section_1-header-2 .time-interval .border {
  border-left: 1px solid black;
  height: 20px;
}
.section_1 .section_1-header-2 .time-interval img {
  width: 28px;
}
.section_1 .section_1-header-2 .time-interval span {
  padding: 0 10px;
  font-size: 14px;
}
.section_1 .section_1-header-2 .btns {
  display: flex;
  align-items: center;
}
.section_1 .section_1-header-2 .btns a {
  color: black;
  padding: 2px 5px;
  font-size: 12px;
  margin: 0px 2px;
  border-radius: 5px;
}
.section_1 .section_1-header-2 .btns a:hover {
  box-shadow: 3px 3px 5px #afaaaa, -3px -3px 5px white;
}
.section_1 .section_1-header-2 .btns a:active {
  box-shadow: -3px -3px 5px #afaaaa, 3px 3px 5px white;
}
.section_1 .section_1-header-2 .btns .outlook::before {
  width: 22px;
  height: 21px;
  content: "";
  background: url(../img/green-check-box.png);
  display: inline-block;
  background-size: 100%;
  vertical-align: middle;
  margin: 0 2px 5px 0;
}
.section_1 .section_1-header-2 .btns .google-calendar::before {
  width: 22px;
  height: 21px;
  content: "";
  background: url(../img/google-calendar.png);
  display: inline-block;
  background-size: 100%;
  vertical-align: middle;
  margin: 0 2px 5px 0;
}
.section_1 .section_1-header-2 .btns .gmail {
  padding: 5.5px 5px;
}
.section_1 .section_1-header-2 .btns .gmail::before {
  width: 17px;
  height: 17px;
  content: "";
  background: url(../img/gmail-logo.png);
  display: inline-block;
  background-size: 100%;
  vertical-align: middle;
  margin: 0 4px 2px 0;
}
.section_1 .section_1-header-2 .btns .clipboard {
  padding: 3px 5px;
}
.section_1 .section_1-header-2 .btns .clipboard::before {
  width: 21px;
  height: 20px;
  content: "";
  background: url(../img/clipboard.png);
  display: inline-block;
  background-size: 100%;
  vertical-align: middle;
  margin: 0 2px 4px 0;
}
.section_1 .section_1-header-2 .right-side {
  display: flex;
  align-items: center;
}
.section_1 .section_1-header-2 .right-side .event {
  color: black;
  padding: 4px 5px;
  font-size: 12px;
  margin: 0px 2px;
  border-radius: 5px;
}
.section_1 .section_1-header-2 .right-side .event:hover {
  box-shadow: 3px 3px 5px #afaaaa, -3px -3px 5px white;
}
.section_1 .section_1-header-2 .right-side .event:active {
  box-shadow: -3px -3px 5px #afaaaa, 3px 3px 5px white;
}
.section_1 .section_1-header-2 .right-side .event::before {
  width: 20px;
  height: 20px;
  content: "";
  background-image: url(../img/event-color.png);
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px 0 0;
}
.section_1 .section_1-header-2 .right-side .section_2-link {
  padding: 3px 0 3px 10px;
  border-left: 1px solid gray;
}
.section_1 .section_1-header-2 .right-side .section_2-link .link {
  text-transform: uppercase;
  border-bottom: 1px dotted;
  color: #00e;
  font-size: 12px;
  font-weight: bold;
}

.section_1 .schedules_events {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.section_1 .schedules_events .white_bg {
  padding: 5px 20px 5px 315px;
  background: white;
}
.section_1 .schedules_events .schedule {
  padding: 100px 20px 10px 315px;
  z-index: 20;
  background: #eff3fb;
}/*# sourceMappingURL=css.css.map */